@import "../../../shared/custom-styles/variables";

.typography {
  font-family: $font-family;
  color: $color-white;
  font-weight: $font-weight-bold;

  &--title {
    font-size: $font-size-large;
  }

  &--subtitle {
    font-size: $font-size-base;
  }
}
