@import "../../../shared/custom-styles/variables";

/* Estilos para el toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Oculta el checkbox original */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilos del slider */
.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

/* El círculo interior */
.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
  z-index: 1;
}

/* Cuando el input está chequeado */
.switch input:checked + .slider {
  background-color: $color-secondary;
}

/* Mueve el círculo cuando está activado */
.switch input:checked + .slider::before {
  transform: translateX(22px);
}

/* Muestra el ícono (ej: ✔️) */
input:checked + .slider::after {
  // emoji de joystick antiguo
  content: "🕹️";
  opacity: 1;
  font-size: $font-size-large;
  line-height: 1;
  text-align: center;
  color: $color-white;
  position: absolute;
  margin: 7px 3px 3px 3px;
}

/* Muestra el ícono (ej: espectador) cuando está desactivado */
input:not(:checked) + .slider::after {
  content: "👁️";
  opacity: 1;
  font-size: $font-size-large;
  line-height: 1;
  text-align: center;
  color: $color-white;
  position: absolute;
  margin: 7px 3px 3px 25px;
}
