@import "../../../shared/custom-styles/variables";

.button {
  padding: $base $xlarge;
  border: none;
  border-radius: $xlarge;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  cursor: pointer;
  font-family: $font-family;

  &--primary {
    background-color: $color-white;
    color: $color-background-primary;

    &:disabled {
      background-color: $color-disabled;
      cursor: not-allowed;
      color: $color-white;
      opacity: $opacity-base;
    }

    &:hover {
      background-color: darken($color-white, 15%);
    }
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-white;

    &:disabled {
      background-color: $color-disabled;
      cursor: not-allowed;
      color: $color-white;
      opacity: $opacity-base;
    }

    &:hover {
      background-color: darken($color-secondary, 10%);
    }
  }

  &--tertiary {
    background-color: transparent;
    color: $color-white;
    border: 1px solid $color-white;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    padding: $small $large;

    &:disabled {
      background-color: $color-disabled;
      cursor: not-allowed;
      color: $color-white;
      opacity: $opacity-base;
    }

    &:hover {
      color: #acacac;
      border: 1px solid #acacac;
    }
  }

  &--quaternary {
    background-color: $color-green;
    color: $color-black;
    border: 1px solid $color-green;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    padding: $small $large;
    box-shadow: 0 0 10px 5px rgba($color-green, 0.5);

    &:disabled {
      background-color: $color-disabled;
      cursor: not-allowed;
      color: $color-black;
      opacity: $opacity-base;
    }

    &:hover {
      color: #acacac;
      border: 1px solid #acacac;
    }
  }
}
