<div class="game-container">
  <header class="header">
    <a-typography [text]="textHeader"></a-typography>
  </header>

  <div class="content">
    <a-table></a-table>
  </div>

  <div class="footer">
    <a-typography [type]="textFooterType" [text]="textFooter"></a-typography>
    <div class="footer-options">
      <a-card
        type="choice"
        *ngFor="let opcion of listaOpciones"
        [text]="opcion"
      ></a-card>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="showCreateUser">
  <o-create-user
    [textLabel]="textLabel"
    [textLabeljugador]="textLabeljugador"
    [textLabelespectador]="textLabelespectador"
    [textButton]="textButton"
    [labelType]="labelType"
    [jugador]="jugador"
    [espectador]="espectador"
    (formSubmit)="handleCreateUser($event)"
  ></o-create-user>
</div>
