// Colors
$color-primary: #31016D;
$color-secondary: #1F1235;
$color-tertiary: #1f0d3f;
$color-disabled: grey;
$color-white: #fff;

// Spacing
$button-padding-base: 0.50rem 1.5rem;
$border-radius-small: 0.4rem;
$border-radius-base: 0.5rem;
$border-radius-card: 0.6rem;
$border-radius-container: 1.25rem;
$margin-base: 0.5rem;
$margin-small: 0.25rem;
$margin-large: 1rem; // 16px

// Typography
$font-size-small: 0.8rem; // 12px
$font-size-base: 1rem;
$font-size-large: 1.2rem;
$font-size-xlarge: 1.5rem;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-family: 'Poppins', sans-serif;

// Transitions
$transition-base: all 0.2s ease-in-out;

// Opacity
$opacity-disabled: 0.4;

// Border radius boton redondeado
$border-radius-button-rounded: 3.125rem;

$border-color-primary: #bb65ff;
