<!-- style color blanco -->
<!-- <p style="color: white">{{ $gameSignal() | json }}</p> -->

<div class="content">
  <form class="form" [formGroup]="createGameForm">
    <a-input
      [label]="textLabel"
      [formControl]="createGameForm.controls.name"
      [error]="createGameForm.controls.name.value ? createGameForm.controls.name.errors?.['message'] : ''"
    ></a-input>

    <a-button
      [text]="textButton"
      [disabled]="createGameForm.invalid"
      (click)="handleSubmit()"
    ></a-button>
  </form>
</div>
