<a-dialog [showDialog]="showDialog" [type]="dialogType">
  <form class="form" [formGroup]="gameRoomForm">
    <a-input
      [label]="textLabel"
      [formControl]="gameRoomForm.controls.name"
      [error]="hasNameInput ? messageError : ''"
    ></a-input>

    <div class="checkbox-container">
      <m-checkbox-label
        [text]="textLabeljugador"
        [type]="labelType"
        [value]="jugador"
        [formControl]="gameRoomForm.controls.selectedOption"
      ></m-checkbox-label>

      <m-checkbox-label
        [text]="textLabelespectador"
        [type]="labelType"
        [value]="espectador"
        [formControl]="gameRoomForm.controls.selectedOption"
      ></m-checkbox-label>
    </div>

    <a-button
      [text]="textButton"
      [disabled]="gameRoomForm.invalid"
      (click)="handleSubmit()"
    ></a-button>
  </form>
</a-dialog>
