@import '../../../shared/custom-styles/variables';

.label {
    font-size: $font-size-base;
    color: $color-white;
    font-family: $font-family;

    &--default {
        font-weight: $font-weight-medium;
    }

    &--small {
        font-size: $font-size-small;
    }
}
