@import "../../../shared/custom-styles/variables";

.checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;

  .label {
    color: $color-white;
    font-size: $font-size-base;
    font-family: $font-family;
  }
}
