<div class="footer">
  <!-- cambiar modo de puntaje -->
  <div class="scoring-mode-selector">
    <a-selector
      *ngIf="$isAdmin()"
      [options]="scoringModeLabels"
      [selectedOption]="$getCurrentScoringMode()"
      [disabled]="!$canChangeScoringMode()"
      [label]="labelScoringMode"
      (selectedOptionEmitter)="onScoringModeChange($event)"
    ></a-selector>
  </div>

  <!-- Mostrar selección de cartas solo para jugadores y cuando no están reveladas -->
  <ng-container *ngIf="$canSelectCard()">
    <a-typography [type]="textFooterType" [text]="textFooter"></a-typography>
    <div class="footer-options">
      <!-- extraer validacion de isSelected -->
      <a-card
        [type]="cardType"
        *ngFor="let card of cards"
        [text]="card.text"
        [isSelected]="getPlayerSelectedCard() === card.id"
        (cardClick)="onCardSelected(card.id, $event)"
        [isClickable]="isClickableButton"
      ></a-card>
    </div>
  </ng-container>

  <!-- Mostrar estadísticas cuando las cartas están reveladas -->
  <ng-container *ngIf="$getIsRevealed()">
    <div class="statistics">
      <!-- Conteo de votos por carta -->
      <div class="votes-count">
        <ng-container *ngFor="let vote of $getVotesCountArray()">
          <div class="vote-item">
            <!-- extraer (vote.count === 1 ? ' voto' : ' votos') -->
            <m-card-label
              [text]="vote.value"
              [cardtype]="cardType"
              [labelText]="vote.count + getVotesCountLabel(vote.count)"
              [isRevealed]="isRevealedCard"
            ></m-card-label>
          </div>
        </ng-container>
      </div>

      <!-- Promedio -->
      <div class="average" *ngIf="$getAverageScore() >= '0'">
        <span>Promedio:</span>
        <span class="average-value">{{ $getAverageScore() }}</span>
      </div>
    </div>
  </ng-container>
</div>
