@import '../../../shared/custom-styles/variables';

// el diseño quiero que sea una tarjeta de planning poker
.card {

  &--choice {
    width: 37px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 50px 5px rgba(255, 255, 255, 0.1);
    color: $color-white;
    font-size: $font-size-large;
    font-family: $font-family;
    border: 1px solid #bc91ff;
    border-radius: $border-radius-small;
    cursor: pointer;

    &.card--selected {
      background-color: #8B5CF6;
      transform: translateY(-5px);
      box-shadow: 0px 4px 20px rgba(139, 92, 246, 0.5);
      color: $color-primary;
    }
  }

  &--player {
    width: 30px;
    height: 60px;
    border: 1px solid #bb65ff;
    border-radius: $border-radius-small;

    &.card--selected {
      background-color: #8B5CF6;
      box-shadow: 0px 4px 20px rgba(139, 92, 246, 0.5);
    }
  }
  
//   quiero que sea un circulo
  &--viewer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-primary;
    font-size: $font-size-large;
    font-family: $font-family;
    font-weight: $font-weight-bold;
    background-color: #bdbdff;
  }
}
    