@import '../../../shared/custom-styles/variables';

// el diseño quiero que sea una tarjeta de planning poker
.card {
  width: 45px;
  height: 85px;

  &--choice {
    width: 55px;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 50px 5px rgba(255, 255, 255, 0.1);
    color: $color-white;
    font-size: $font-size-large;
    font-family: $font-family;
    border: 1px solid #bc91ff;
    border-radius: $border-radius-card;
  }

  &--player {
    width: 42px;
    height: 80px;
    border: 1px solid #bb65ff;
    border-radius: $border-radius-card;
  }
  
//   quieor que sea un circulo
  &--viewer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-primary;
    font-size: $font-size-large;
    font-family: $font-family;
    font-weight: $font-weight-bold;
    background-color: #bdbdff;
  }
}