@import "../../../shared/custom-styles/variables";

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: $font-weight-bold;

  &--choice {
    width: 2.2rem;
    height: 3.7rem;
    box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.1);
    color: $color-white;
    font-size: $font-size-base;
    font-family: $font-family;
    border: 1px solid $color-primary;
    border-radius: $base;

    &.card--selected {
      background-color: $color-septenary;
      transform: translateY(-5px);
      box-shadow: 0px 0px 10px 2px rgba($color-secondary, 0.5);
      color: $color-background-primary;
    }
  }

  &--player {
    width: $xlarge;
    height: 2.7rem;
    border: 1px solid $color-octonary;
    border-radius: $base;

    &.card--selected {
      background-color: $color-octonary;
      box-shadow: 0px 4px 20px rgba($color-octonary, 0.5);
    }

    &.card--revealed {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $color-white;
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      font-family: $font-family;
      background-color: transparent;
      box-shadow: none;
    }
  }

  &--viewer {
    width: $xxxlarge;
    height: $xxxlarge;
    border-radius: 50%;
    color: $color-background-primary;
    font-size: $font-size-base;
    font-family: $font-family;
    font-weight: $font-weight-bold;
    background-color: $color-quinary;
  }

  &--profile {
    width: 1.8rem;
    height: 1.8rem;
    font-size: $font-size-small;
    border-radius: 50%;
    color: $color-background-primary;
    font-family: $font-family;
    font-weight: $font-weight-bold;
    background-color: $color-quinary;
  }

  &--clickable {
    cursor: pointer;
  }
}
