@import '../../../shared/custom-styles/variables';

.image {
  height: auto;

  &--small {
    width: 2rem; // 32px
  }

  &--medium {
    width: 4rem; // 64px
  }

  &--large {
    width: 8rem; // 128px
  }

  &--full {
    width: 100%;
  }
}