<header class="header">
  <img [src]="srcImage" [alt]="alt" [ngClass]="'image--' + sizeImage" />
  <a-typography [text]="textHeader"></a-typography>
</header>

<div class="content">
  <form class="form" [formGroup]="createGameForm">
    <m-input-label
      [text]="textLabel"
      [formControl]="createGameForm.controls.name"
    ></m-input-label>

    <!-- mostrar mensaje de error si el formulario es invalido y a puesto al menos un caracter-->
    <a-typography
      *ngIf="isFormInvalid && hasNameInput"
      [text]="messageError"
      [type]="'error'"
    ></a-typography>

    <a-button
      [text]="textButton"
      [disabled]="createGameForm.invalid"
      (click)="handleSubmit()"
    ></a-button>
  </form>
</div>
