<header>
  <a-image [src]="srcImage" [alt]="altImage" [size]="sizeImage"></a-image>
  <a-typography [text]="textHeader"></a-typography>
</header>

<div class="content">
  <form class="form" [formGroup]="createGameForm">
    <a-label [text]="textLabel"></a-label>
    <a-input [formControl]="createGameForm.controls.name"> </a-input>

    <!-- si existe mensaje de error, mostrarlo -->
    <a-typography
      *ngIf="messageError"
      [text]="messageError"
      [type]="'error'"
    ></a-typography>

    <a-button [text]="textButton" (click)="handleSubmit()"></a-button>
  </form>
</div>
