<header class="header">
  <div class="header-item">
    <img [src]="srcImage" [alt]="alt" [ngClass]="'image--' + sizeImage" />
  </div>
  <div class="header-item">
    <a-typography [text]="textHeader" [type]="typeTypography"></a-typography>
  </div>
  <div class="header-item">
    <a-card [text]="textCard" [type]="typeCard"></a-card>
    <a-toggle
      [options]="viewModeOptions"
      [selectedValue]="currentViewMode"
      (valueChange)="onViewModeChange($event)"
    ></a-toggle>
    <a-button
      [text]="textButton"
      [type]="typeButton"
      (click)="handleButtonInvitePlayersClick()"
    ></a-button>
  </div>
</header>

<c-dialog-invite-player
  [title]="titleDialog"
  [showDialog]="showDialog"
  (closeDialog)="handleCloseDialog()"
>
  <input class="input" type="text" readonly [value]="placeholderDialog" />
  <a-button
    [text]="textButtonDialog"
    [type]="typeButtonDialog"
    (click)="handleButtonCopyLinkDialog()"
  ></a-button>
</c-dialog-invite-player>
