/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  background: radial-gradient(circle at center, #31016D 0%, #1F1235 100%);
  background-attachment: fixed;
}